{% extends 'layout.html' %}

{% block head %}
  {{ super() }}
  <title>{{ entry.title + ' - ' + site.title }}</title>
{% endblock %}

{% block body %}
  <div class="entry">
    <article {%- if entry.meta.language %} lang="{{ entry.meta.language }}" {%- endif %}>
      <h1>{{ entry.title }}</h1>

      {% if entry.created or entry.categories or entry.tags %}
        <div class="meta">
          {% if entry.created %}
            <span class="created"><span class="key">Created</span>: <span
                    class="value">{{ entry.created.strftime('%Y-%m-%d') }}</span></span><br>
          {% endif %}
          {% if entry.updated and entry.updated != entry.created %}
            <span class="updated"><span class="key">Updated</span>: <span
                    class="value">{{ entry.updated.strftime('%Y-%m-%d') }}</span></span><br>
          {% endif %}
          {% if entry.categories %}
            <span class="categories"><span class="key">Categories</span>: <span class="value">[
              {%- for category in entry.categories -%}
                {%- if loop.index > 1 -%}
                  <span>, </span>
                {%- endif -%}
                <a href="{{ url_for('.category', category_name=category) }}">{{ category }}</a>
              {%- endfor -%}
              ]</span></span><br>
          {% endif %}
          {% if entry.tags %}
            <span class="tags"><span class="key">Tags</span>: <span class="value">[
              {%- for tag in entry.tags -%}
                {%- if loop.index > 1 -%}
                  <span>, </span>
                {%- endif -%}
                <a href="{{ url_for('.tag', tag_name=tag) }}">{{ tag }}</a>
              {%- endfor -%}
              ]</span></span>
          {% endif %}
        </div>
      {% endif %}

      <div class="toc">
        {% if entry.toc_html %}
          <hr>
          {{ entry.toc_html|safe }}
          <hr>
        {% endif %}
      </div>

      {{ entry.content|safe }}
    </article>
  </div>
  {% include ['custom/discuss-thread.html', 'discuss-thread.html'] ignore missing %}
{% endblock %}